@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(0);
    }
}

#portfolio {
    animation: 1s ease-in-out 0s 1 slideFromLeft;
    text-align: center;
}

.portfolioImage {
    width: 200px;
    height: 200px
}

.sectionHeader {
    margin-top: 20px;
    text-shadow: 2px 2px 2px lightslategrey;
}